{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% block title %}
    Willkommen
{% endblock %}

{% block content %}
    <p>

    Vielen Dank für Ihr Interesse an dieser Studie der Fernuniversität Hagen, die von Dorothee Mischkowski und
    Carola Ortlepp-Appl durchgeführt wird.<br><br> Vor Beginn der Studie zunächst ein paar allgemeine Hinweise.<br><br><br>

    <h3>Zum Ablauf</h3>
    <br>
    Die Studie beinhaltet verschiedene Entscheidungsaufgaben. Genauere Informationen erhalten Sie auf den nächsten Seiten.
    Insgesamt werden Sie für die Bearbeitung, abhängig von der jeweiligen Bedingung, ca. <strong>15 bis 20 Minuten</strong>
    benötigen. Als Dankeschön für Ihre Teilnahme erhalten Sie einen Betrag<strong> zwischen 2€ und 4€</strong>, der Ihnen
    wenige Tage nach Beendigung der Studie überwiesen wird. Nähere Einzelheiten erfahren Sie im weiteren Verlauf.
    <br><br>

   <span style="color:red"><strong>Bitte beachten Sie:<br><br></strong></span>
    <!--Überprüfung ob JavaScript aktviert ist-->

    <noscript><strong>In Ihrem Browser ist die Ausführung von JavaScript deaktiviert!</strong> Da diese Anwendung JavaScript
    nutzt, wird sie nicht funktionieren.
    <br><br>
    Bevor Sie mit der Studie beginnen, <strong>aktivieren Sie deshalb bitte JavaScript</strong> in den Einstellungen
    Ihres Browsers! <br><br></noscript>

    Das Programm im Hintergrund dieser Anwendung benötigt Cookies, um zu funktionieren! Sollten bei Ihnen Cookies
    deaktiviert sein, bitten wir Sie diese in den Einstellungen Ihres Browsers für die Dauer dieser Anwendung zu aktivieren.<br><br>
    Eine Teilnahme an der Studie ist sonst leider nicht möglich. Vielen Dank für Ihr Verständnis!<br><br>

    Bitte führen Sie die Studie <strong>ungestört</strong> und <strong>ohne Unterbrechungen</strong> durch, da andernfalls
    technische Probleme auftreten können.<br><br>

    Außerdem bitten wir Sie, die Studie <strong>nicht über ein Smartphone oder Tablet</strong> zu bearbeiten, um
    Darstellungsprobleme zu vermeiden.
    <br><br>
    Wir wünschen Ihnen viel Spaß bei der Bearbeitung und danken Ihnen schon vorab für die Unterstützung unserer Forschung!
    <br>
    D. Mischkowski & C. Ortlepp-Appl
    <br><br><br>
    Bitte wählen Sie "weiter", um mit der Bearbeitung zu beginnen.

    <br>
    </p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

{% endblock %}
