{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% block title %}
    Willkommen
{% endblock %}

{% block content %}
    <p>

    Vielen Dank für Ihr Interesse an dieser Studie der Fernuniversität Hagen, die von Dorothee Mischkowski und
    Carola Ortlepp-Appl durchgeführt wird.<br><br> Vor Beginn der Studie zunächst ein paar allgemeine Hinweise.<br><br><br>

    <h3>Zum Ablauf</h3>
    <br>
    Die Studie beinhaltet verschiedene Entscheidungsaufgaben. Genauere Informationen erhalten Sie auf den nächsten Seiten.
    Insgesamt werden Sie für die Bearbeitung, abhängig von der jeweiligen Bedingung, ca. <strong>15 bis 20 Minuten</strong>
    benötigen. Als Dankeschön für Ihre Teilnahme erhalten Sie zusätzlich zu Ihrer Entlohnung des Online-Parts einen Betrag
    zwischen 2€ und 4€, der Ihnen unmittelbar im Anschluss ausbezahlt wird. Nähere Einzelheiten erfahren Sie im weiteren Verlauf.
    <br><br><br>

    Bitte wählen Sie "weiter", um mit der Bearbeitung zu beginnen.

    <br>
    </p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

{% endblock %}
