{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
   Entscheidungsaufgabe
{% endblock %}

{% block content %}
    <br>
    <p>
    Sie werden gleich mehrere Runden einer Entscheidungsaufgabe bearbeiten, in die Sie selbst und eine andere Person
    einbezogen sind.<br><br> <strong>Stellen Sie sich bitte vor</strong>, dass Sie diese <strong>andere Person noch nie
    getroffen haben</strong> und ihr auch <strong>in Zukunft nicht wissentlich begegnen</strong> werden (weil Sie und die
    andere Person sich nicht persönlich kennenlernen oder sehen werden).<br><br>
    In jeder Runde der Aufgabe werden Ihnen mehrere Objekte gezeigt. <strong>Sie und Ihr Gegenüber</strong> können
    <strong>jeweils eines der</strong> im Folgenden gezeigten <strong>Objekte wählen,</strong>  das nicht ersetzt wird.
    <br><br>
    Es ist wichtig zu beachten, dass <strong>Sie immer zuerst wählen</strong> und dass das von Ihnen
    gewählte Objekt <strong>für Ihr Gegenüber nicht mehr verfügbar</strong> ist.<br><br><br>
    Wenige Tage nach Beendigung der Studie werden Sie einen <strong>Festbetrag von 4€</strong> erhalten.

    <br><br><br>

    Um fortzufahren, wählen Sie bitte "weiter".

    <br><br></p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

{% endblock %}
