{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
   Entscheidungsaufgabe
{% endblock %}

{% block content %}

    <p>
    <strong>Hier ein Beispiel:</strong><br><br>

    Unten abgebildet sehen Sie drei Objekte. Welches dieser Objekte würden Sie wählen? Denken Sie daran, dass Sie zuerst
    ein Objekt auswählen, dann die andere Person.

    <br><br><br>

    <div align="center">

    {% include "SoMiPu/Choice.html" %}

    </div>

    <br><br>

    Treffen Sie Ihre Entscheidung durch Klicken auf das Objekt Ihrer Wahl (bzw. das Kästchen unterhalb des Objekts).
    <br>
    Zur Erinnerung:<strong>Sie sind zu zweit und Sie wählen immer zuerst. Die andere Person wählt nach Ihnen.</strong>

    <br><br><br><br>
    Um fortzufahren, wählen Sie bitte "weiter".
    <br><br></p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

    {% block scripts %}
        <script src="{% static 'js/SoMiPu/jquery.visible.js' %}"></script>
        <script src="{% static 'js/SoMiPu/select.js' %}"></script>
    {% endblock %}

{% endblock %}