{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
   Entscheidungsaufgabe
{% endblock %}

{% block content %}
    <br>
    <p>
    Sie werden gleich mehrere Runden einer Entscheidungsaufgabe bearbeiten, in die Sie selbst und eine andere Person
    einbezogen sind. <strong>Stellen Sie sich bitte vor</strong>, dass Sie diese <strong>andere Person noch nie
    getroffen</strong> haben und ihr auch in Zukunft nicht wissentlich begegnen werden (weil Sie und die andere Person
    sich nicht persönlich kennenlernen oder sehen werden).<br><br>
    In jeder Runde der Aufgabe werden Ihnen mehrere Objekte gezeigt. Sie und Ihr Gegenüber können <strong>jeweils eines
    </strong> der im Folgenden gezeigten <strong>Objekte wählen.</strong> Es ist wichtig zu beachten, dass Sie <strong>
    immer an zweiter Stelle</strong> wählen und dass das von der anderen Person zuerst gewählte Objekt für Sie dann <strong>
    nicht mehr verfügbar</strong> ist.<br><br>

    <p>
    <span style="color:red;font-weight:bold;">Bitte beachten Sie auch:</span>
    </p>

    <strong>Nachdem Ihr Gegenüber seine Wahl</strong> getroffen hat, <strong>wählen Sie im Anschluss</strong> zwischen den
    verbliebenen Objekten.<br><br> Danach <strong>bewerten Sie</strong>, <strong>wie freundlich vs. feindselig</strong>
    Sie das <strong>Verhalten Ihres Gegenübers</strong> empfinden. Hierzu markieren Sie <strong>mit einem Mausklick</strong>
    die Skala mit einem Kreuzchen, <strong>dessen Position</strong> Sie einfach <strong>durch weitere Mausklicks</strong>
    so lange <strong>verändern</strong> können, bis Sie die Stelle markiert haben, die Ihrer Empfindung am besten entspricht.
    <br><br>
    <strong>Nach jedem zweiten Durchgang</strong> werden Sie zudem dazu befragt, wie stark <strong>Ihr Wunsch</strong> ist,
    die <strong>Interaktion fortzusetzen oder zu beenden</strong>.
    <br><br><br> Wenige Tage nach Beendigung der Studie werden Sie einen <strong>Festbetrag von 4€</strong> erhalten.

    <br><br>
    Um fortzufahren, wählen Sie bitte "weiter".

    <br></p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

{% endblock %}
