{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Fragen zur Teilnahme
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/SoMiPu/SoMiPu.css' %}">
{% endblock %}

{% block content %}
    <p>
        <em>Raum für Ihre Mitteilungen an uns ...</em><br>
    </p><br>
    <div id="overall-fb">
        {% if role == "FirstChooser" %}
            {% formfield player.overall_fb_tx1 label="Was hat Ihre Wahlentscheidungen maßgeblich beeinflusst? Hatten Sie eine Strategie?" %}
        {% else %}
            <input type="hidden" name="overall_fb_tx1" value=""/>
        {% endif %}

        {% formfield player.overall_fb_tx2 label="Haben Sie weitere Anmerkungen zur Studie oder ist Ihnen etwas Bestimmtes aufgefallen?" %}
        {% formfield player.overall_fb_tx3 label="Was wurde Ihrer Ansicht nach in dieser Studie untersucht?" %} 
    </div><br>

    <p>
        Wenn Sie alle Fragen beantwortet haben, wählen Sie bitte "weiter".
    </p><br>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

{% endblock %}
