{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Fragen zur Teilnahme
{% endblock %}

{% block content %}
    <style type="text/css">
        label {
            font-weight: normal;
            width: 100%;
        }

        .content-box {
            width: 50%;
        }

        select, input, textarea {
            max-width: 100%;
            min-width: 160px;
            min-height: 20px;
            padding: 3px 5px;
            border-radius: 5px;
        }

        .right {
            float: right;
        }
    </style>
    <!--CB = Checkbox; Befragung aller First Chooser -->
    <span style="font-style: italic">Raum für Ihre Mitteilungen an uns ...</span><br>
    <br><p>

    Was hat Ihre Wahlentscheidungen maßgeblich beeinflusst? Hatten Sie eine Strategie?
    </p><br>

    <textarea rows="4" cols="100" name="overall_fb_tx1">
    </textarea>

    <br><p><br>

    <p>
        Haben Sie weitere Anmerkungen zur Studie oder ist Ihnen etwas Bestimmtes aufgefallen?
    </p><br>

    <textarea rows="4" cols="100" name="overall_fb_tx2">
    </textarea>

    <br><p><br>

    <p>
        Was wurde Ihrer Ansicht nach in dieser Studie untersucht?
    </p><br>

    <textarea rows="4" cols="100" name="overall_fb_tx3">
    </textarea>

    <br><p><br>

    Wenn Sie alle Fragen beantwortet haben, wählen Sie bitte "weiter".

</p><br>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

{% endblock %}
