{% load staticfiles %}
{% load static %}

    <div id="choice">

        <table>
            <tr >
                <td>
                    <img checkId="{{ choiceList.0.id }}" src="{% get_static_prefix %}{{ choiceList.0.url }}"/>
                </td>
                <td>
                    <img checkId="{{ choiceList.1.id }}" src="{% get_static_prefix %}{{ choiceList.1.url }}"/>
                </td>
                <td>
                    <img checkId="{{ choiceList.2.id }}" src="{% get_static_prefix %}{{ choiceList.2.url }}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" id="{{ choiceList.0.id }}" name="{{ choiceName }}" value="{{ choiceList.0.value }}"/>
                </td>
                <td>
                    <input type="checkbox" id="{{ choiceList.1.id }}" name="{{ choiceName }}" value="{{ choiceList.1.value }}"/>
                </td>
                <td>
                    <input type="checkbox" id="{{ choiceList.2.id }}" name="{{ choiceName }}" value="{{ choiceList.2.value }}"/>
                </td>
            </tr>
            {% if not feedback %}
                <tr>
                    <td colspan="3" id="choice-error">
                        <div id="choiceMsg" class="error">
                            <p>Bitte wählen Sie eines der drei Objekte aus.</p>
                        </div>
                    </td>
                </tr>
            {% endif %}
        </table>
     </div>

    {% if not feedback %}
        <input type="hidden" name="firstChoice" value="{{ firstChoice }}"/>
        <input type="hidden" name="secondChoice" value=""/>

        <script>
            $(document).ready(function(){
    	        showChoice("choice", "{{ firstChoice }}");
    	    });

        </script>
    {% else %}
        <script>
            $(document).ready(function(){
                showChoiceLeft("choice", "{{ firstChoice }}", "{{ secondChoice }}");
            });

        </script>
    {% endif %}
