{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
   Entscheidungsaufgabe
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/SoMiPu/SoMiPu.css' %}">
{% endblock %}

{% block content %}
    <br>
    <p>
        Sie werden gleich mehrere Runden einer Entscheidungsaufgabe bearbeiten, in die Sie selbst und eine weitere Person
        einbezogen sind. <strong>Stellen Sie sich bitte vor,</strong> dass Sie diese <strong>andere Person noch nie
        getroffen haben</strong> und ihr auch <strong>in Zukunft nicht wissentlich begegnen</strong> werden (weil Sie und die andere
        Person sich nicht persönlich kennenlernen oder sehen werden).
    </p><br>

    In jeder Runde der Aufgabe werden Ihnen mehrere Objekte gezeigt. Sie und Ihr Gegenüber können <strong>jeweils eines
    </strong> der im Folgenden gezeigten <strong>Objekte wählen.</strong> 

    {% if role == 'FirstChooser' %}
        Es ist wichtig zu beachten, dass Sie <strong>immer zuerst
        </strong> wählen und dass das von Ihnen gewählte Objekt <strong>für Ihr Gegenüber nicht mehr verfügbar</strong> ist.

        <br><br>
        {% if condition == 'experimental' %}
            <p>
            <span class="important">Bitte beachten Sie auch:</span>
            </p>

            <strong>Nachdem Sie Ihre Wahl getroffen</strong> haben, <strong>wählt die andere Person</strong> aus den verbliebenen
            Objekten und <strong>gibt Ihnen unmittelbar Rückmeldung</strong> darüber, wie sie Ihre Entscheidung wahrnimmt.
            <br><br>
            Die andere Person kann außerdem nach der Hälfte der Studie darüber entscheiden, ob Sie <strong>weiter zwischen den
            Gegenständen auswählen</strong> können, um selbst nach Ihnen auszuwählen <strong>oder es bevorzugt,</strong>
            an dieser Stelle die <strong>Interaktion für Sie beide zu beenden</strong>, sodass <strong>keiner</strong> von Ihnen
            beiden mehr ein Objekt auswählen kann.
        {% endif %}

    {% else %}
        Es ist wichtig zu beachten, dass Sie <strong>
        immer an zweiter Stelle</strong> wählen und dass das von der anderen Person zuerst gewählte Objekt für Sie dann
        <strong>nicht mehr verfügbar</strong> ist.
        <br><br>

        <p>
        <span class="important">Bitte beachten Sie auch:</span>
        </p>

        <strong>Nachdem Ihr Gegenüber seine Wahl</strong> getroffen hat, <strong>wählen Sie im Anschluss</strong> zwischen den
        verbliebenen Objekten.<br><br> Danach <strong>bewerten Sie</strong>, <strong>wie freundlich vs. feindselig</strong>
        Sie das <strong>Verhalten Ihres Gegenübers</strong> empfinden.<br>
        Hierzu markieren Sie <strong>mit einem Mausklick</strong> die Skala mit einem Kreuzchen, <strong>dessen Position
        </strong> Sie einfach durch weitere Mausklicks so lange <strong>verändern können,</strong> bis Sie die
        Stelle markiert haben, die Ihrer Empfindung am besten entspricht.<br><br>
        {% if condition == 'experimental' %}
            Im Anschluss daran haben Sie die Möglichkeit <strong>Ihrem Gegenüber Rückmeldung zu geben,</strong> wie Sie seine
            Entscheidung wahrnehmen. Diese Rückmeldung wird Ihrem Gegenüber im Unterschied zur vorherigen Einschätzung <strong>
            unmittelbar übermittelt und dargestellt.</strong><br><br>
        {% endif %}

        <strong>Nach jedem zweiten Durchgang</strong> werden Sie zusätzlich gefragt, wie stark <strong>Ihr Wunsch</strong>
        ist, die <strong>Interaktion fortzusetzen oder zu beenden.</strong><br><br>

        {% if condition == 'experimental' %}
            <strong>Nach der Hälfte der Studie</strong> können Sie darüber entscheiden, <strong>ob die andere Person
            weiter </strong>zwischen den Gegenständen <strong>auswählen kann</strong> und Sie wie zuvor selbst nach ihr auswählen
            oder ob Sie an dieser Stelle die <strong>Interaktion beenden</strong> möchten, sodass <strong>keiner von Ihnen</strong>
            mehr ein Objekt auswählen kann.
        {% endif %}
    {% endif %}
    {% if condition == 'experimental' %}
        <strong>Abhängig von dieser Entscheidung</strong> werden <strong>Sie beide bei
        Fortsetzung </strong>der Interaktion einen Betrag von jeweils <strong>4€</strong> für Ihre Teilnahme und <strong>bei
        deren Beendigung</strong> von jeweils <strong>2€ </strong>erhalten.
    {% else %}
        Wenige Tage nach Beendigung der Studie werden Sie einen <strong>Festbetrag von 4€</strong> erhalten.
    {% endif %}

    
    <br><br>

    Um fortzufahren, wählen Sie bitte "weiter".

    <br>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

{% endblock %}
