{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
   Entscheidungsaufgabe
{% endblock %}

{% block content %}
    <br>
    <p>
    Sie werden gleich mehrere Runden einer Entscheidungsaufgabe bearbeiten, in die Sie Selbst und eine andere Person
    einbezogen sind. <br><br>
    <strong>Stellen Sie sich bitte vor,</strong> dass Sie diese <strong> andere Person noch nie getroffen</strong> haben
    und ihr auch <strong>in Zukunft nicht wissentlich begegnen</strong> werden (weil Sie und die andere Person sich nicht
    persönlich kennenlernen oder sehen werden).<br><br>
    In jeder Runde der Aufgabe werden Ihnen mehrere Objekte gezeigt. Sie und Ihr Gegenüber können <strong> jeweils eines
    der</strong> dargestellten <strong>Objekte wählen.</strong> Es ist wichtig zu beachten, dass Sie <strong>immer zuerst
    </strong> wählen und dass das von Ihnen gewählte Objekt <strong>für Ihr Gegenüber nicht mehr verfügbar</strong> ist.
    <br><br>

    <p>
    <span style="color:red;font-weight:bold;">Bitte beachten Sie auch:</span>
    </p>

    <strong>Nachdem Sie Ihre Wahl getroffen</strong> haben, <strong>wählt die andere Person</strong> aus den verbliebenen
    Objekten und <strong>gibt Ihnen unmittelbar Rückmeldung</strong> darüber, wie sie Ihre Entscheidung wahrnimmt.
    <br><br>
    Die andere Person kann außerdem nach der Hälfte der Studie darüber entscheiden, ob Sie <strong>weiter zwischen den
    Gegenständen auswählen</strong> können, um selbst nach Ihnen auszuwählen <strong>oder es bevorzugt,</strong>
    an dieser Stelle die <strong>Interaktion für Sie beide zu beenden</strong>, sodass <strong>keiner</strong> von Ihnen
    beiden mehr ein Objekt auswählen kann.
    <br><br>
    <strong>Abhängig von dieser Entscheidung</strong> werden <strong>Sie beide bei Fortsetzung</strong> der Interaktion
    einen Betrag von jeweils <strong>4€</strong> für die Teilnahme an dieser Studie und <strong>bei deren Beendigung</strong>
    von jeweils <strong>2€</strong> erhalten.
    <br><br>
    Um fortzufahren, wählen Sie bitte "weiter".

    <br></p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

{% endblock %}
