{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load static %}

{% block title %}
   Entscheidungsaufgabe
{% endblock %}

{% block content %}

    <p>
    <strong>Hier ein Beispiel:</strong><br><br>

    Unten abgebildet sehen Sie drei Objekte. Denken Sie daran, dass die andere Person zuerst ein Objekt auswählt, dann
    Sie. Die Person vor Ihnen hat folgende Wahl getroffen. Welches der verbliebenen Objekte würden Sie <strong>im
    Anschluss wählen?</strong>

    <br><br>
    <div align="center">

        <div id="choice">

        <table style="border:0;">
            <tr >
                <td width="210" align="center">
                    <img src="{% get_static_prefix %}img/SoMiPu/MM_green.png" width="100" style="opacity:0.5;"/>
                </td>
                <td width="210" align="center">
                    <img src="{% get_static_prefix %}img/SoMiPu/MM_blue.png" width="100"/>
                </td>
                <td width="210" align="center">
                    <img src="{% get_static_prefix %}img/SoMiPu/MM_green.png" width="100"/>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="checkbox" disabled checked id="0"/>
                </td>
                <td align="center">
                    <input type="checkbox" id="1"/>
                </td>
                <td align="center">
                    <input type="checkbox" id="2"/>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="height:40px">
                    <div id="choiceMsg" style="display:none; background-color:Yellow; text-align:center">
                        <p>Bitte wählen Sie eines der drei Objekte aus.</p>
                    </div>
                </td>
            </tr>
        </table>
        </div>
    </div>
    <br>

    Treffen Sie Ihre Entscheidung durch Klicken auf das Objekt Ihrer Wahl (bzw. das Kästchen unterhalb des Objekts).

    <br><br><br>

    <script type="text/javascript" src="{% static 'js/SoMiPu/VAS/wz_dragdrop.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/SoMiPu/VAS/ratingscales.js' %}"></script>

    <br><br><br>

    <p>
    Beurteilen Sie mittels der folgenden Skala <strong>wie freundlich vs. feindselig Sie das Verhalten Ihres Gegenübers
    empfinden</strong>. Hierzu markieren Sie mit einem Mausklick die Skala mit einem Kreuzchen an der Stelle, die Ihrer
    Empfindung am besten entspricht.
    <br><br>

    <div id="vas_ff" align="center">
    <script type="text/javascript">
    scales.scale('Assess', 'click', 499, ['{% static 'img/SoMiPu/VAS/line10.gif'%}', 499, 17],
    ['{% static 'img/SoMiPu/VAS/00.gif'%}'], ['freundlich&nbsp;', '&nbsp;feindselig']);
    </script>
    <div id="vas_fb_ff" style="display:none; background-color:Yellow; text-align:center; width:500px;">
            <p>Bitte markieren Sie die Skala mit einem Mausklick.</p>
        </div>
    </div>

    <br><br><br>

   <!--Smiley-Scale-->

    Mit den nachfolgenden Smileys teilen Sie Ihrem Gegenüber mit, wie Sie sein Verhalten
    bewerten.<br>
    Diese Information wird an Ihr Gegenüber weitergeleitet!

    <br><br>

    <div align="center">

    {% include "SoMiPu/Smilies.html" %}

    </div>

    <br><br><br>

    <p>
    In jedem zweiten Durchgang werden Sie dazu befragt, wie stark Ihr Wunsch ist, die <strong>Interaktion
    fortzusetzen oder zu beenden.</strong>.
    <br><br>

    <div id="vas_fb" align="center">

    <script type="text/javascript">
    scales.scale('Exclusion', 'click', 499, ['{% static 'img/SoMiPu/VAS/line10.gif'%}', 499, 17],
    ['{% static 'img/SoMiPu/VAS/00.gif'%}'], ['fortsetzen&nbsp;', '&nbsp;beenden']);
    </script>
        <div id="vas_fb_fb" style="display:none; background-color:Yellow; text-align:center; width:500px;">
            <p>Bitte markieren Sie die Skala mit einem Mausklick.</p>
        </div>
    </div>

    <br><br><br>
    Sie entscheiden außerdem nach der Hälfte der Studie darüber, ob die andere Person weiter <strong>zwischen den
    Gegenständen auswählen</strong> kann, um selbst nach ihr auszuwählen oder an dieser Stelle die <strong>Interaktion
    zu beenden</strong>, sodass keiner von Ihnen mehr ein Objekt auswählen kann. Hierdurch reduziert sich
    der Betrag, den Sie und ihr Gegenüber für Ihre Teilnahme erhalten auf 2€.

    <br><br>

    Um mit der eigentlichen Entscheidungsaufgabe zu beginnen, wählen Sie bitte "weiter".
    <br><br>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

    <script type="text/javascript">
        scales.init('value');
    </script>

    {% block scripts %}
         <script src="{% static 'js/SoMiPu/jquery.visible.js' %}"></script>
         <script src="{% static 'js/SoMiPu/example.js' %}"></script>
    {% endblock %}

{% endblock %}