{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<!--Diese Feedbackseite wird dem First Chooser in jedem Trial angezeigt, der Text unten nur in jedem zweiten Trial.-->

    <p>Die andere Person hat nach Ihnen aus den verbliebenen Objekten folgendes gewählt.

    <br><br>

    <div align="center">

    {% include "SoMiPu/Choice.html" %}

    </div>

    <br><br><br>

    Hier ist das Feedback der Person zu Ihrer Wahlentscheidung!

    <br><br><br><br>

    <div align="center">

    {% include "SoMiPu/Smilies.html" %}

    </div>

    {% if ExclusionaryThreat %}
        Die andere Person entscheidet außerdem nach der Hälfte der Studie darüber, <strong>ob Sie weiter zwischen den
        Gegenständen auswählen</strong> können, um nach Ihnen auszuwählen <strong>oder</strong> an dieser Stelle die
        <strong>Interaktion zu beenden,</strong> sodass keiner von Ihnen mehr ein Objekt auswählen kann.<br><br>
    {% endif %}


    Um fortzufahren, wählen Sie bitte "weiter".
    <br></p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

    {% block scripts %}
        <script src="{% static 'js/SoMiPu/select.js' %}"></script>
    {% endblock %}

{% endblock %}