{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/SoMiPu/SoMiPu.css' %}">
{% endblock %}

{% block content %}

    <p>
        Die andere Person hat nach Ihnen aus den verbliebenen Objekten folgendes gewählt.
    </p><br>

    {% include "SoMiPu/Choice.html" %}

    <br><br><br>

    Hier ist das Feedback der Person zu Ihrer Wahlentscheidung!

    <br><br>

    {% include "SoMiPu/Smilies.html" %}

    <br><br><br>
    {% if hasTerminated %}
        Die andere Person hat sich dafür entschieden die Interaktion an dieser Stelle zu beenden. Vielen Dank für Ihre bisherigen
        Angaben und die Unterstützung unserer Forschung! Damit ist die Bearbeitung der Entscheidungsaufgabe abgeschlossen.
        <br><br>
        Im Folgenden bitten wir Sie <strong>noch einige wenige Fragen </strong>zu Ihrer Person zu <strong> beantworten</strong>.
        <br><br>

        Wählen Sie bitte "weiter", um die Fragen zu beantworten.
    {% else %}
        {% if halfTime %}
            <div id="halftime-ci">
                <h4>Sie haben jetzt die Hälfte der Studie erreicht. Die andere Person hat sich dafür entschieden, die Interaktion mit
                Ihnen fortzusetzen.</h4>
                <br><br><br>
            </div>
        {% else %}

            {% if ExclusionaryThreat %}
                Die andere Person entscheidet außerdem nach der Hälfte der Studie darüber, <strong>ob Sie weiter zwischen den
                Gegenständen auswählen</strong> können, um nach Ihnen auszuwählen <strong>oder</strong> an dieser Stelle die
                <strong>Interaktion zu beenden,</strong> sodass keiner von Ihnen mehr ein Objekt auswählen kann.<br><br>
            {% endif %}

        {% endif %}
        
        Um fortzufahren, wählen Sie bitte "weiter".
    {% endif %}
    <br>
    

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

    {% block scripts %}
        <script src="{% static 'js/SoMiPu/select.js' %}"></script>
    {% endblock %}

{% endblock %}