{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

    <!--'ExclusionaryThreat'Diese Seite wird dem First Chooser als zweite Feedbackseite angezeigt, wenn die andere Person
     die Interaktion beendet hat.-->

    <p>
    <br><br><br>
    Die andere Person hat sich dafür entschieden die Interaktion an dieser Stelle zu beenden. Vielen Dank für Ihre bisherigen
    Angaben und die Unterstützung unserer Forschung! Damit ist die Bearbeitung der Entscheidungsaufgabe abgeschlossen.
    <br><br>
    Im Folgenden bitten wir Sie <strong>noch einige wenige Fragen </strong>zu Ihrer Person zu <strong> beantworten</strong>.
    <br><br>

    Wählen Sie bitte "weiter", um die Fragen zu beantworten.

    <br>
    </p>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>


{% endblock %}