{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/SoMiPu/SoMiPu.css' %}">
{% endblock %}

{% block content %}

<!--Diese Seite wird dem Second Chooser der Experimentalgruppe nur dann angezeigt, wenn er die Interaktion beendet hat.-->



    <p>
    <strong>Sie haben sich dafür entschieden die Interaktion an dieser Stelle zu beenden. Uns interessiert, welche Gründe
    Sie hierzu bewogen haben? Das nachfolgende Textfeld bietet Ihnen die Gelegenheit uns diese mitzuteilen.</strong>
    </p><br><br><br>
    
    <div class="centered-formbox">
        <div id="rtf-textarea">
            {% formfield player.reason_to_finish label=""%}
        </div>
    </div>

    <br><br><br>

    <p>
    Vielen Dank für Ihre bisherigen Angaben! Damit ist die Bearbeitung der Entscheidungsaufgabe abgeschlossen. <br><br>
    Im Folgenden bitten wir Sie <strong>noch einige wenige Fragen </strong>zu Ihrer Person zu <strong> beantworten</strong>.
    <br><br>

    Wählen Sie bitte "weiter", um die Fragen zu beantworten.
    <br><br>
    </p>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>


{% endblock %}