{% load staticfiles %}
{% load static %}

    <div id="smilies">

        <table style="border:0;">
            <tr>
                <td colspan="5">
                    <img style="padding-left:16px;padding-right:17px" src="{% get_static_prefix %}{{ smilyImgUrl }}" width="{{ smilyListWidth }}"/>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <input type="checkbox" id="cbs1" name="{{ smilyName }}" value="1"/>
                </td>
                <td align="center">
                    <input type="checkbox" id="cbs2" name="{{ smilyName }}" value="2"/>
                </td>
                <td align="center">
                    <input type="checkbox" id="cbs3" name="{{ smilyName }}" value="3"/>
                </td>
                <td align="center">
                    <input type="checkbox" id="cbs4" name="{{ smilyName }}" value="4"/>
                </td>
                <td align="center">
                    <input type="checkbox" id="cbs5" name="{{ smilyName }}" value="5"/>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="height:40px">
                    <div id="smilyMsg" style="display:none; background-color:Yellow; text-align:center">
                        <p>Bitte wählen Sie einen der Smilies aus.</p>
                    </div>
                </td>
            </tr>
        </table>

    </div>


    <script type="text/javascript">
        $(document).ready(function(){
            try {
	            showSmily("smilies", "{{ smilyFeedback }}");
	        } catch (e) {}
	    });

    </script>
