
<input type="hidden" name="stimulus_{{ repeat }}" value="{{ stimulus }}"/>
<input type="hidden" name="stimulus_name_{{ repeat }}" value="{{ stimulus_name }}"/>
<input type="hidden" name="single_{{ repeat }}" value="{{ single }}"/>
<input type="hidden" name="double_{{ repeat }}" value="{{ double }}"/>
<input type="hidden" name="subtrial_{{ repeat }}" value="{{ subtrial }}"/>

<input type="hidden" name="item1_{{ repeat }}" value="{{ choiceList.0.value }}"/>
<input type="hidden" name="item2_{{ repeat }}" value="{{ choiceList.1.value }}"/>
<input type="hidden" name="item3_{{ repeat }}" value="{{ choiceList.2.value }}"/>
