
<input type="hidden" name="stimulus" value="{{ stimulus }}"/>
<input type="hidden" name="stimulus_name" value="{{ stimulus_name }}"/>
<input type="hidden" name="single" value="{{ single }}"/>
<input type="hidden" name="double" value="{{ double }}"/>
<input type="hidden" name="subtrial" value="{{ subtrial }}"/>
<input type="hidden" name="trial" value="{{ trial }}"/>
<input type="hidden" name="repeat" value="{{ repeat }}"/>

<input type="hidden" name="item1" value="{{ choiceList.0.value }}"/>
<input type="hidden" name="item2" value="{{ choiceList.1.value }}"/>
<input type="hidden" name="item3" value="{{ choiceList.2.value }}"/>
