{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/SoMiPu/SoMiPu.css' %}">
{% endblock %}

{% block content %}

    <p>Welches dieser Objekte würden Sie nehmen? Sie wählen zuerst, dann die andere Person!</p>

    <br><br>

    {% include "SoMiPu/Choice.html" %}


    <br>

    Die andere Person wählt nach Ihnen aus den verbliebenen Objekten.
    
    {% include "SoMiPu/TrialData.inc.html" %}

    {% if condition == 'experimental' %}

        {% if ExclusionaryThreat %}
            <div id="ExclusionaryThreat">
                <br>

                Die andere Person entscheidet nach der Hälfte der Studie darüber, <strong>ob Sie weiter zwischen den
                Gegenständen auswählen</strong> können, um selbst nach Ihnen auszuwählen <strong>oder</strong> an dieser Stelle die
                <strong>Interaktion zu beenden,</strong> sodass <strong>keiner</strong> von Ihnen mehr ein Objekt auswählen kann.
            </div>
        {% endif %}

    {% endif %}

    <br><br><br>

    Um fortzufahren, wählen Sie bitte "weiter".
    <br><br>

    <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

    {% block scripts %}
        <script src="{% static 'js/SoMiPu/jquery.visible.js' %}"></script>
        <script src="{% static 'js/SoMiPu/select.js' %}"></script>
    {% endblock %}

{% endblock %}