{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}
    <p>
        <strong>Liebe Teilnehmerin, lieber Teilnehmer,</strong>
        <br><br>

        vielen Dank, dass Sie unser Forschungsprojekt unterstützen! Bitte lesen Sie sich die folgenden Seiten genau durch.
        <br><br>
        Dies ist der zweite Teil der Studie, nach dem ersten Part, den Sie bereits online absolviert haben. Bitte beachten Sie, dass beide Studienteile unabhängig voneinander erhoben werden, d.h. Ihre Gesamtauszahlung ergibt sich aus dem ersten Onlinepart zuzüglich zu Ihrer Entlohnung aus dem zweiten Laborteil.
        Dieser Teil der Studie nimmt ca. 45 Minuten Ihrer Zeit in Anspruch und untersucht, wie Menschen Entscheidungen treffen.
        Bei einer Teilnahme werden Sie mit einer realen Person interagieren und sich zwischen fiktiven Gegenständen
        entscheiden. Die Zeit in der Ihr Gegenüber seine/ihre Entscheidung trifft, kann zu Wartezeiten führen. Dies ist <strong>
        kein technisches Problem</strong>, sondern darin begründet, dass Menschen unterschiedlich lange Lese-
        und Entscheidungszeiten haben. Für Ihre Teilnahme erhalten Sie (zusätzlich zu Ihrer Auszahlung des Online-Parts) einen Betrag
        zwischen 4€ und 8€, der Ihnen unmittelbar im Anschluss ausbezahlt wird. Nähere Einzelheiten erfahren Sie im weiteren Verlauf.
        <br><br>

        Zu Ihrer Erinnerung noch einmal die Informationen bezüglich Datenschutz und -verarbeitung:
        <br><br>
        Wir sichern Ihnen die vollständige Anonymität Ihrer Daten zu. Die Ergebnisse dieser Studie werden nur für die
        Auswertung gespeichert, ohne dass Rückschlüsse auf einzelne Personen gezogen werden können. Sie können die Studie
        jederzeit ohne Nennung von Gründen abbrechen, ohne dass Ihnen hieraus Nachteile entstehen. Auch werden Ihnen
        durch keine Entscheidung, die Sie innerhalb der Studie treffen, Nachteile entstehen. Nach Beendigung der Studie
        informieren wir Sie gerne über den Hintergrund und die Ziele der Untersuchung.
        <br><br>
        Diese Studie birgt keine Risiken für Sie. Sie erhalten für Ihre Teilnahme ein Entgelt, jedoch keine weiteren
        Vorteile. Diese Studie hat als Ziel zum allgemeinen Forschungsstand der menschlichen Urteils- und
        Entscheidungsfindung  beizutragen.
        <br><br>
        Jegliche Information, die in dieser Studie erfasst wird, wird vertraulich behandelt und nur mit Ihrem
        Einverständnis oder nach gesetzlichem Beschluss freigegeben. Die Vertraulichkeit wird dadurch gewährleistet,
        dass der Zugriff nur für Forschungszwecke dem Forscherteam zugänglich ist und zu jedem Zeitpunkt Ihre Anonymität
        gewahrt bleibt.
        <br><br>
        Die anonymisierten Daten werden ausschließlich zu Forschungs- und Lehrzwecken verwendet und mindestens 10 Jahre
        gespeichert. Forschungszwecke umfassen beispielsweise die Verwendung in wissenschaftlichen Publikationen und
        Vorträgen sowie die uneingeschränkte Bereitstellung der Daten für andere Forscher (z.B. in internetbasierten
        Datenarchiven, gemäß den Empfehlungen der Deutschen Forschungsgemeinschaft [DFG] und der Deutschen Gesellschaft
        für Psychologie [DGPs] zur Qualitätssicherung in der Forschung). Jede Speicherung und Verwendung meiner Daten
        geschieht in vollständig anonymisierter Form, d.h. ohne, dass die Daten einer spezifischen Person zugeordnet
        werden könnten.
        <br><br>
        <strong>Einverständniserklärung</strong><br><br>
        Ich weiß, dass es mir zu jeder Zeit freisteht, die Studie ohne Angabe von Gründen abzubrechen. Mit dem Abbruch
        der Studie verliere ich meinen Anspruch auf eine Vergütung.
        <br><br>
        Nach Beendigung der Studie werde ich über die Hintergründe und den Zweck der Studie aufgeklärt. Sollte
        ich darüberhinausgehende Informationen wünschen, kann ich diese nach Abschluss der Studie beim Versuchsleiter
        erfragen. Wenn ich die Studie vorzeitig abbreche, entbinde ich die für die Studie verantwortlichen Personen von
        ihrer Pflicht, mich vollständig über die Hintergründe und den Zweck der Studie aufzuklären. Sollte ich mein Recht
        auf Aufklärung trotz des vorzeitigen Abbruchs wahrnehmen wollen, muss ich die Aufklärung aktiv nach Abschluss der
        Studie beim Versuchsleiter erbitten.
        <br><br>
        Jederzeit während der Studie und auch danach kann ich ohne Angabe von Gründen verlangen, dass meine Daten
        gelöscht bzw. vernichtet werden. Um Ihre Daten löschen zu lassen, wenden Sie sich an den Versuchsleiter.
        <br><br>
        Bei Rückfragen oder Anmerkungen zur Studie können Sie bei Bedarf die Projektleiterin kontaktieren:<br>
        <br>
        <span style="font-style: italic">Dorothee Mischkowski: Dorothee.mischkowski@fernuni-hagen.de</span>
        </p>
        <p>
        Herzlichen Dank für Ihre Teilnahme!<br>
        <br>
        Das Forscherteam
        <br>
        Dorothee Mischkowski, M.Sc.,<br>
        Carola Ortlepp-Appl, B.Sc.<br>
        Tillmann Nett, Dipl. Inform.<br>
        FernUniversität Hagen<br>
        Institut für Psychologie<br>
        Abteilung Allgemeine Psychologie – Urteilen, Entscheiden, Handeln<br>
        <br>
        Universitätsstraße 27<br>
        58097 Hagen
        <br><br><br>

        Dieser Einverständniserklärung haben Sie bereits bei der Teilnahme an dem Onlineteil der Studie zugestimmt,
        es ist daher keine erneute Einwilligung notwendig. Es steht Ihnen dennoch auch weiterhin jederzeit frei die 
        Studie ohne die Angabe von Gründen abzubrechen. Wenden Sie sich hierzu an den Versuchsleiter.


        <br><br>
        Um fortzufahren, wählen Sie bitte "weiter".

        <br></p>

        <button class="otree-btn-next btn btn-primary next-button otree-next-button">weiter</button>

{% endblock %}
