{% load staticfiles %}
{% load static %}

<div id="goodby" style="float:left;width:100%;border:solid 5px;border-color:red;display:none">
    <div style="float:left;padding:20px;">
        <img src="{% get_static_prefix %}img/SoMiPu/Ausrufezeichen.png"/>
    </div>
    <div style="float:left;padding:20px;">
        <br>
        Sie haben Ihre DecisionLab-ID zu oft falsch eigegeben.<br>
        Daher ist leider keine Teilnahme möglich.<br>
        Wir bitten um Ihr Verständnis.
        <br>
        <br>
    </div>
</div>